<header class="header">
  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__item"><a href="/" class="header__link">Home</a></li>
      <li class="header__item"><a href="/about.html" class="header__link">About Us</a></li>
      <li class="header__item"><a href="/cars" class="header__link">Cars</a></li>
      <li class="header__item"><a href="/cars/create" class="header__link">Add Car</a></li>
    </ul>
  </nav>
</header>